/* Base */

html {
    overflow-x: hidden;
}

body {
    line-height: 1.7;
    color: #666666;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-moz-selection {
    background: #000;
    color: #fff;
}

::selection {
    background: #000;
    color: #fff;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    color: #000;
}

.border-2 {
    border-width: 2px;
}

.text-black {
    color: #000 !important;
}

.bg-black {
    background: #000 !important;
}

.color-black-opacity-5 {
    color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
    color: rgba(255, 255, 255, 0.5);
}

body:after {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.offcanvas-menu {
    position: relative;
}

.offcanvas-menu:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2);
}

.btn {
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn.btn-primary {
    background: #fab95b;
    border-color: #fab95b;
    color: #fff;
}

.btn.btn-primary:hover {
    background: #000;
    border-color: #000;
    color: #fff;
}

.btn.btn-primary.btn-black--hover:hover {
    background: #666666;
    color: #fff;
}

.line-height-1 {
    line-height: 1 !important;
}

.bg-black {
    background: #000;
}

.form-control {
    height: 33px;
    border-radius: 20px;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: transparent !important;
    color: #fff !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
    border-bottom-width: 2px !important;
}

.form-control:active,
.form-control:focus {
    border-color: #fff !important;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

@media (min-width: 768px) {
    .site-section {
        padding: 7em 0;
    }
}

.site-section.site-section-sm {
    padding: 4em 0;
}

.site-section-heading {
    padding-bottom: 10px;
    margin-bottom: 0px;
    position: relative;
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .site-section-heading {
        font-size: 3rem;
    }
}

.site-footer {
    padding: 4em 0;
    background: #333333;
}

@media (min-width: 768px) {
    .site-footer {
        padding: 8em 0;
    }
}

.site-footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.site-footer p {
    color: #737373;
}

.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
    color: #fff;
}

.site-footer a {
    color: #999999;
}

.site-footer a:hover {
    color: black;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer .footer-heading {
    font-size: 16px;
    color: #fff;
}